doctype html
head
    title Hello, World!
    link(href="/stylesheets/style.css", rel="stylesheet")
    script(src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js")
    script(src="/javascripts/jade.js")

section#s1!=s1
section#s2!=s2